/* provides global styling*/
html{
    font-family: sans-serif;
}

/* adds padding to all horizontal lines */
hr{
    margin-top:30px;
}

/* styles the links using pseudo-classes */
a:link {
    color: yellow;
  }
a:visited {

    color:yellow;
  }
a:hover {
    color: #FF00FF;
  }

  /* links for the portfolio section */

  a.portfolio-link:link {
    color: purple;
  }
  a.portfolio-link:visited {

    color:purple;
  }
  a.portfolio-link:hover {
    color: yellow;
  }

/* provides a class for centering any text fields */
.center-text{
    text-align: center;
}

/* styles the title text */
#title-text{
  font-size: 30px;
}

/* centers and styles the main profile photo */
#profile-photo{
    width:300px;
    height:270px;
    padding:20px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}


/* styles the image behind the profile photo */
#photo-background{
    background-image: url('./img/stars.jpg')
}

/* styles the special divider with scoll and email options */
#scroll-bar{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 4px;
}

/* styles the contact section */
#contact-section{
    background: black;
    color:white;

    /* not sure why I'm getting a funny result here, 
    2px should display less padding*/
    padding-top: 2px;;
    padding-bottom: 2px;
}


/* provides css for responsive layout items in the portfolio */
.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }

  .wrapper {
    width: 100%;
  }

  .item {
    flex: 1;
    margin: 10px;
  }

  .portfolio-image {
    width: 100%; 
    border-style: solid;
    border-width: 4px;
    border-color: yellow;
   }

@media all and (min-width: 800px) {
    .wrapper {
      width: 80%;
      margin: auto;
    }
  
    .group {
      flex-direction: row;
    }
  }



