    /* provides global styling*/
    
    html {
        font-family: 'Ubuntu', sans-serif;
        font-size: 20px;
    }
    /* adds padding to all horizontal lines */
    
    hr {
        margin-top: 30px;
    }
    
    header nav ul li a:link {
        color: #27537A;
        padding: 0 20px 0 0;
    }
    /* styles the links using pseudo-classes */
    
    .scroll-link {
        color: #e6c58a;
    }
    
    .scroll-link:hover {
        color: #e4ca9e;
    }
    
    a:link {
        color: #56738d;
    }
    
    a:hover {
        color: #27537A;
    }
    /* links for the portfolio section */
    
    a.portfolio-link:link {
        color: #27537A;
    }
    
    a.project-links {
        color: #27537A;
    }
    
    a.portfolio-link:visited {
        color: #27537A;
    }
    
    a.portfolio-link:hover {
        color: #27537A;
    }
    /* provides a class for centering any text fields */
    
    .center-text {
        text-align: center;
    }
    /* styles the title text */
    
    #title-text {
        font-size: 30px;
        text-align: center;
    }
    /* centers and styles the main profile photo */
    
    #profile-photo {
        width: 300px;
        height: 270px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }
    
    .no-border {
        border: none;
    }
    /* styles the image behind the profile photo */
    
    #photo-background {
        /* background-image: url('./img/man.jpg'); */
        background-size: cover;
        border-radius: 15px;
    }
    /* styles the special divider with scoll and email options */
    
    #scroll-bar {
        background-color: rgb(0, 0, 0);
        color: white;
        padding: 4px;
    }
    /* styles the contact section */
    
    #contact-section {
        background: black;
        color: white;
        padding-top: 2px;
        ;
        padding-bottom: 2px;
    }
    /* provides css for responsive layout items in the portfolio */
    
    #portfolio-list {
        margin-bottom: 100px;
        list-style: none;
        padding-left: 0;
        flex-direction: column;
    }
    
    .headline {
        margin-top: 0px;
    }
    
    .item {
        flex: 1 50%;
        padding: 0px;
        box-sizing: border-box;
        list-style: none;
    }
    
    .wrapper {
        width: 95%;
        margin: auto;
    }
    
    .portfolio-image {
        width: 100%;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(114, 114, 114);
    }
    
    .description {
        height: 260px;
    }
    /* navigation code */
    
    header nav {
        display: flex;
        justify-content: center;
    }
    
    header nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 0;
    }
    
    header nav ul li {
        list-style-type: none;
    }
    
    header nav ul li a:visited {
        color: #27537A;
    }
    
    header nav ul li a:hover {
        color: #5b758b;
    }
    /* form code */
    
    .form-label {
        color: black;
    }
    
    form label {
        display: block;
        font-size: 18px;
        margin-bottom: 5px;
        color: gray;
        font-family: arial;
    }
    
    form textarea {
        height: 4.75rem;
        width: 100%;
        color: #000;
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    form input {
        width: 100%;
        color: #000;
        font-size: 16px;
    }
    
    .li-header {
        height: 80px;
    }
    
    #spiral-logo {
        width: 140px;
    }
    
    #spiral-logo-small {
        width: 60px;
        margin-top: 36px;
        float: left;
        margin-right: -4px;
    }
    
    #quik-logo {
        width: 80px;
    }
    
    .insights-label {
        margin-left: -4px;
        margin-top: 38px;
    }
    
    @media all and (min-width: 900px) {
        .description {
            height: 340px;
        }
        .wrapper {
            width: 95%;
            margin: auto;
        }
        #portfolio-list {
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 100px;
            list-style: none;
            padding-left: 0;
        }
        .item {
            flex: 1 50%;
            padding: 10px;
            list-style: none;
        }
        .column {
            float: left;
            width: 30%;
        }
        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    }
    
    @media all and (min-width: 830px) {
        header nav ul li a:link {
            color: #27537A;
            padding: 0 80px 0 0;
        }
    }