/* provides global styling*/
html{
    font-family: sans-serif;
}

/* adds padding to all horizontal lines */
hr{
    margin-top:30px;
}

/* styles the links using pseudo-classes */
a:link {
    color: yellow;
  }
a:visited {

    color:yellow;
  }
a:hover {
    color: #FF00FF;
  }

/* provides a class for centering any text fields */
.center-text{
    text-align: center;
}


/* styles the title text */
#title-text{
  font-size: 30px;
}

/* centers and styles the main profile photo */
#profile-photo{
    width:300px;
    padding:20px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}


/* styles the image behind the profile photo */
#photo-background{
    background-image: url('./img/stars.jpg')
}

/* styles the special divider with scoll and email options */
#scroll-bar{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 4px;
}

/* styles the contact section */
#contact-section{
    background: black;
    color:white;

    /* not sure why I'm getting a funny result here, 
    2px should display less padding*/
    padding-top: 2px;;
    padding-bottom: 2px;
}



